<app-navigation-bar></app-navigation-bar>
<div class="login" >

    <div class="login-container">
        <h2 class="login-heading">Login</h2>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" [(ngModel)]="username" class="form-control" placeholder="Enter your username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" class="form-control" placeholder="Enter your password">
        </div>
        <div class="forgot-password-link">
          <a (click)="navigateToReset()">Forgot Password?</a>
        </div>
        <button class="btn btn-primary" (click)="login()">Login</button>
        <div class="signup-link">
          <a routerLink="/signup">Don't have an account? Sign up here</a>
        </div>
        
      </div>
     </div>  
    