.login {
  position: relative;
  height: 100vh;
}

.login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/food-9.webp);
  background-repeat: no-repeat;
 
  background-size: cover;
  z-index: -1;
  
}


    
    .login-container {
      position: relative;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      max-width: 600px;
      padding: 20px;
      border: 1px solid #e6dcdc;
      border-radius: 5px;
      background-color: #f8f8f8;
      /* opacity: 0.7; */
      height: 350px;
      /* transition: opacity 0.3s ease; */
      background-color: transparent;
      margin-right: 25px;
      margin-left: 800px;
    }
    

    input{
      font-weight: bold;
      color: #1b1313;
    }
    
    .login-heading {
      text-align: center;
      color: #faf1f1;
    }
    .form-control::placeholder {
      color: #131212; 
    }
   
    .form-group {
      margin-bottom: 10px;
      opacity: 0.5;
    }
    
    label {
      font-weight: bold;
      color: white
    }
    
    .form-control {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 15px;
      
    }
    
    .btn {
      display: block;
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 4px;
      background-color: #d3213e;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 10px;
      margin-top: 15px;
      border-top: 1px solid #000;
      transition: background-color 0.3s ease;
    }
    
    .btn:hover {
      background-color: #b61919;
    }
    
    .signup-link {
      text-align: center;
      margin-top: 15px;
    }
    
    .signup-link a {
      font-weight: bold;
      color: #eee5e5;
      text-decoration: none;
    }
    
    .signup-link a:hover {
      color: #5c3434;
    }
    
    .forgot-password {
      color: #f14141;
      font-size: 14px;
      text-decoration: none;
    }
    
    .forgot-password:hover {
      text-decoration: underline;
    }
    
    .forgot-password-link {
      text-align: center;
      margin-top: 15px;
    }
    
    .forgot-password-link a {
      color: #faf8f8;
      text-decoration: underline;
      cursor: pointer;
      font-weight: bold;
    }
    
    .forgot-password-link a:hover {
      color: #5c3434;
    }
    .login-container {
      /* Your existing styles */
      position: relative;
      animation: movingGradient 5s linear infinite;
      background: linear-gradient(45deg, #f1b87f, #e06d90, #67c6e6, #79ecb2);
      background-size: 400% 400%;
    }
    
    @keyframes movingGradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    